.log-in {
  color: #53616A;
  font-size: 26px;
  font-weight: 500;
}

.text-muted {
  color: #53616A !important;
  font-size: 14px;
  opacity: 50%;
}

.label {
  color: #707986;
  font-size: 13px;
}

.inp {
  background-color: #F3F5F7;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 16px;
  color: #000;
}

.log-btn {
  background-color: #5E87B1;
  border-color: #5E87B1;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}